body {
  background-color: #2a4380;
  height: 7000px;
  width: 7000px;
  margin: 0px;
}
.board {
  position: absolute;
  z-index: 0;
}

.sideblock {
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
}
.cards_block {
  display: flex;
  flex-direction: column;
  justify-content: flex-end; /* Выравнивание внизу блока */
  position: fixed;
  bottom: 0;
  height: 300px;
  z-index: 1;
  width: 100%;
}
.sideblock_2 {
  display: flex;
  flex-direction: column;
}
.sideblock_text {
  display: flex;
  flex-direction: column;
}
