body {
  background-image: url("/public/SeaIMG.png");
  background-size: cover;
  height: 7000px;
  width: 7000px;
  margin: 0;
}
.board {
  position: absolute;
  z-index: 0;
}
.Pass_button {
  margin-top: 5px !important;
}
.sideblock {
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  margin-right: 20px;
}
.chat {
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  margin-bottom: 200px;
}
.cards_block {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: fixed;
  bottom: 0;
  height: 170px;
  z-index: 1;
  width: 100%;
}
.sideblock_2 {
  display: flex;
  flex-direction: column;
}
.sideblock_text {
  display: flex;
  flex-direction: column;
}
.fight_block {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
}

/* Existing CSS styles */

.gameover-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.gameover-text {
  margin-bottom: 20px;
}

.back-to-menu {
  display: flex;
  justify-content: center;
}
