.wrapper {
  border-radius: 10px;
  background-color: #d9d9d9;
  height: 260px;
  width: 220px;
  float: right !important;
  display: flex;
  margin: 0px;
}
img {
  height: 200px;
  width: 30px;
  margin-top: 30px;
}
