.cards_wrapper {
  background-color: #d9d9d9;
  display: flex;
  justify-content: space-between;
  margin: 0px;
}
.epos_cards {
  display: flex;

  width: 30%;
  justify-content: center;
  /* border: 2px solid black; */
}
.actions_cards {
  display: flex;
  width: 40%;
  justify-content: center;
  /* border: 2px solid black; */
}
.advantage_cards {
  display: flex;

  width: 30%;
  justify-content: center;
  /* border: 2px solid black; */
}

.card_img {
  height: 200px;
  width: 130px;
  transition: transform 0.3s, box-shadow 0.3s;
  margin-top: 0px;
  position: relative;
  z-index: 1;
}

.card_img:hover {
  transform: scale(1.7) translateY(-57px);
  z-index: 2;
}

#card_epos:hover {
  transform: scale(1.7) translateY(-57px) translateX(30px);
  z-index: 2;
}

#card_adv:hover {
  transform: scale(1.7) translateY(-57px) translateX(-30px);
  z-index: 2;
}

#card_epos + #card_epos {
  margin-left: -95px;
}
#card_adv + #card_adv {
  margin-left: -65px;
}
.card + .card {
  margin-left: -35px;
}
